/* Main */
main.homepage {
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 85px;
}

#title_and_input {
    background-color: rgba(62, 75, 87, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 7px #000000;
}

.icon_font1 {
    font-size: 1.5em;
    color: rgb(159, 172, 184);
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 2px solid #ced4da;
}

.icon_font2 {
    font-size: 1.5em;
    color:rgb(159, 172, 184);
    display: block;
    padding-right: 10px;
    padding-left: 12px;
    border-left: 2px solid #ced4da;
}

#title_and_input h1 {
    font-size: 2.5em;
    font-family: 'Bodoni MT', Arial, serif;
    font-weight: normal;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.input_style {
    display: flex;
    align-items: center;
}

#date_bar {
    margin-top: 10px;
    margin-bottom: 26.8px;
}


.btn-primary {
    color: #fff;
    background-color: var(--blue-theme);
    border-color: var(--blue-theme);
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.checkbox{
    font-size: 30px;
    color: white;
}

h2{
    color: whitesmoke;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}
