* {
    box-sizing: border-box;
    --blue-theme: #4A66AC;
}

body {
    margin: 0;
    background: url(images/plane_back2.png) no-repeat;
    background-size: cover;
}

/* Header*/
main.homepage {
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 85px;
}

#flymee_logo {
    font-family: 'Bodoni MT', Arial, serif;
    font-weight: bold;
    color: var(--blue-theme);
    display: flex;
    align-items: center;
    flex-direction: row;
}
#flymee_logo img {
    height: 70px;
}

/* Navigation */
.navbar-nav {
    font-family: 'Trebuchet MS', Arial, serif;
}

.nav-item {
    padding: 0 10px;
    text-align: right;
}

.navbar-collapse {
    flex-grow: unset;
}
.nav-link {
    font-size: 1.5em;
    color: var(--blue-theme)!important;
    padding: 2px 8px;  
}

.nav-link:hover {
    color: #c5ddff!important;
    cursor: pointer;
}
.nav-link.active {
    color: #072247!important;
}

/* Main */
#title_and_input {
    background-color: rgba(62, 75, 87, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 7px #000000;
}

.icon_font1 {
    font-size: 1.5em;
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 2px solid #ced4da;
}

.icon_font2 {
    font-size: 1.5em;
    display: block;
    padding-right: 10px;
    padding-left: 12px;
    border-left: 2px solid #ced4da;
}

#title_and_input h1 {
    font-size: 2.5em;
    font-family: 'Bodoni MT', Arial, serif;
    font-weight: normal;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.input_style {
    display: flex;
    align-items: center;
}

#date_bar {
    margin-top: 10px;
    margin-bottom: 26.8px;
}


.btn-primary {
    color: #fff;
    background-color: var(--blue-theme);
    border-color: var(--blue-theme);
    font-size: 1.3rem;
    margin-bottom: 20px;
}
