
* {
    box-sizing: border-box;
    --blue-theme: #4A66AC;
}

body {
    margin: 0;
    background: url(images/plane_back2.png) no-repeat;
    background-size: cover;
}

/* Header*/
main.homepage {
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 85px;
}

#flymee_logo {
    font-family: 'Bodoni MT', Arial, serif;
    font-weight: bold;
    color: var(--blue-theme);
    display: flex;
    align-items: center;
    flex-direction: row;
}
#flymee_logo img {
    height: 70px;
}

/* Navigation */
.navbar-nav {
    font-family: 'Trebuchet MS', Arial, serif;
}

.nav-item {
    padding: 0 10px;
    text-align: right;
}

.navbar-collapse {
    flex-grow: unset;
}
.nav-link {
    font-size: 1.5em;
    color: var(--blue-theme)!important;
    padding: 2px 8px;  
}

.nav-link:hover {
    color: #c5ddff!important;
    cursor: pointer;
}
.nav-link.active {
    color: #072247!important;
}

/* Main */
#title_and_input {
    background-color: rgba(41, 36, 58, 0.856);
    display: flex;
    height: auto;
    width: auto;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 7px #000000;

}

h2{
    color: whitesmoke;
}