* {
    box-sizing: border-box;
    --blue-theme: #4A66AC;
    word-break: break-all;
}

main.homepage {
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 85px;
}

.center_div {
    background-color: whitesmoke;
    box-shadow: 5px 5px 7px #000000;
    display: flex;
    flex-direction: row;

}

.left_div {
    border-right: 2px solid var(--blue-theme);
    margin-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.right_div {
    margin-left: 50px;
    margin-right: 50px;
    flex: 2;
}

.scale {
    margin-left: 20px;
}

.profile_picture {
    border-radius: 50%;
}

.about_you_info {
    display: flex;
    align-items: center;
}

.text {
    font-size: 1.1em;
}

.names {
    font-size: 1.3em;
    margin-top: 10px;
}

.text_about_you_info {
    margin-left: 10px;
    margin-top: 14px;
}

.description {
    border-top: 1px solid var(--blue-theme);
    border-bottom: 1px solid var(--blue-theme);
    margin-top: 20px;
    margin-bottom: 20px;
}

.size_description {
    overflow: auto;
    max-height: 160px;
    margin-bottom: 10px;
}

.title_h1 {
    font-size: 2.8em;
    font-family: 'Bodoni MT', Arial, serif;
    font-weight: normal;
    color: var(--blue-theme);
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title_h2 {
    font-size: 2.5em;
    font-family: 'Bodoni MT', Arial, serif;
    font-weight: normal;
    color: var(--blue-theme);
    margin-top: 30px;
    margin-bottom: 0px;
}

.title_h3 {
    font-size: 1.9em;
    font-family: 'Bodoni MT', Arial, serif;
    font-weight: normal;
    color: var(--blue-theme);
    border-bottom: 1px solid var(--blue-theme);
    border-right: 1px solid var(--blue-theme);
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: inline-block;
    padding-right: 10px;
}

.link-bottom {
    display: flex;
    flex-direction: column;
}

.link {
    color: var(--blue-theme);
    font-weight: 400;
    text-decoration: none;
}

.link2 {
    margin-bottom: 15px;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}
